*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.log
*.tmp
*.temp
/app/release/
/app/debug/
*.keystore
*.jks
/outputs/
*.hprof
*.apk
*.aab
lint-results*.xml
/reports/
